[Desktop Entry]
Exec=/home/torr/.stoor/scripts/speedswapper.sh
Icon=dialog-scripts
Name=speedswapper.sh
Path=
Type=Application
X-KDE-AutostartScript=true
Hidden=false

